// Variables
$website-width: 1280px;
$main-color: #726339;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: rgb(116, 72, 18);
$bg-image: url("/dist/image/showcase.JPG");

// Set Text Color
@function set-text-color($color) {
    @if (lightness($color) > 50) {
        @return #000;
    }

    @else {
        @return #fff;
    }
}